.asset{
  max-width: 750px;
  margin: auto;
}

h3, h2{
  text-align: center;
}

.asset-item{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #BFC3F9;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.asset-item:hover{
  transform: scale(1.05);
}

.asset-item > h4, p{
  text-align: center;
}

.cell{
  border-right: 1px solid #000;
}

.center{
  max-height: 40px;
  max-width: 90px;
  margin: auto;
  text-align: center;
}
