.container{
  max-width: 1750px;
  margin: auto;
}

.content-wrapper{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.chart{
  align-items: center;
  justify-content: center;
}
